<html lang='en'>

	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>HOME</title>
	</head>

	<body>
			<h1>Hi, {{username}}</h1>
			<a href='/member/{{username}}'>Member</a><br />
			<div class='search'>
				<input type='text' name='search' /><br />
				<button onclick='search()'>Search</button>
			</div>
			<form action='/' method='get'>
				<div class='sort'>
					<label for=''>sort by price</label>
					<select name='sortByPrice'>
						<option value='desc'>ascending</option>
						<option value='asc'>descending</option>
					</select>
				</div>
				<div class='sort'>
					<label for=''>sort by date</label>
					<select name='sortByDate' id=''>
						<option value='desc'>latest</option>
						<option value='asc'>oldest</option>
					</select>
				</div>
				<button type='submit'>Aspect</button>
			</form>
			<a href='/cart'>Cart</a>
			<a href='/bill'>Bill</a>
			<a href='/logout'>Logout</a><br />
			<form action='/contact' method='post'>
				<h2>contact</h2>
				<label for=''>email</label><br />
				<input type='email' name='email' id='' /><br />
				<label for=''>Subject</label><br />
				<input type='text' name='subject' /><br />
				<label for=''>message</label><br />
				<input type='text' name='message' id='' /><br />
				<button type='submit'>Send</button>
			</form>
			{{#each product}}
				<div class='product'>
					{{this}}
					<br />
					<a href='/product/{{this._id}}'>{{this.name}}</a>
				</div>
			{{/each}}
			<div class='changePassword'>
				<h2>change password</h2>
				<label for=''>old password</label><br />
				<input type='text' name='oldPw' /><br />
				<label for=''>new password</label><br />
				<input type='text' name='newPw' /><br />
				<label for=''>re password</label><br />
				<input type='text' name='rePw' /><br />
				<button onclick='changePassword()'>Ok</button>
			</div>
		<br />
		{{msg}}

	</body>
	<script src='/js/function.js'></script>

</html>