<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Admin</title>
	</head>
	<body>
		{{username}}
		<br />
		{{msg}}
		<br />
		<div class='productTab'>
			<h2>Product</h2>
			<div class='addProduct'>
				<button onclick='showForm(`AddNewProduct`)'>Add new product</button>
				<form
					action='/admin/product/create'
					id='AddNewProduct'
					method='post'
					enctype='multipart/form-data'
					hidden
				>
					<h2>create</h2>
					<label for=''>image</label><br />
					<input type='file' name='image' /><br />
					<label for=''>name</label><br />
					<input type='text' name='name' /><br />
					<label for=''>price</label><br />
					<input type='text' name='price' /><br />
					<label for=''>category</label><br />
					<input type='text' name='category' /><br />
					<label for=''>quantity</label><br />
					<input type='number' name='quantity' />
					<br />
					<label for=''>sold</label><br />
					<input type='number' name='sold' /><br />
					<button type='submit'>Create</button>
				</form>
			</div>
			{{#each products}}
				<div class='product'>
					{{! show product }}
					<br />
					{{this}}
					<br />
					<button onclick='showForm(`{{this._id}}`)'>Edit</button>
					<form
						id='{{this._id}}'
						action='/admin/product/update/{{this._id}}'
						method='post'
						enctype='multipart/form-data'
						hidden
					>
						<h2>edit {{this.name}}</h2>
						<label for=''>image</label><br />
						<img src='{{this.image}}' alt='' /><br />
						<input
							type='file'
							name='image'
							value='{{this.image}}'
						/><br />
						<label for=''>name</label><br />
						<input
							type='text'
							name='name'
							value='{{this.name}}'
						/><br />
						<label for=''>price</label><br />
						<input
							type='text'
							name='price'
							value='{{this.price}}'
						/><br />
						<label for=''>category</label><br />
						<input
							type='text'
							name='category'
							value='{{this.category}}'
						/><br />
						<label for=''>quantity</label><br />
						<input
							type='number'
							name='quantity'
							value='{{this.quantity}}'
						/>
						<br />
						<label for=''>sold</label><br />
						<input
							type='number'
							name='sold'
							value='{{this.sold}}'
						/><br />
						<button type='submit'>Update</button>
					</form>
					<button
						onclick='deleteProduct(`{{this._id}}`)'
					>Delete</button>
				</div>
			{{/each}}
		</div>
		<div class='memberTab'>
			<h2>Member</h2>
			<div class='addMember'>
				<button onclick='showForm(`AddNewMember`)'>Add new member</button>
				<form
					action='/admin/member/create'
					id='AddNewMember'
					method='post'
					enctype='multipart/form-data'
					hidden
				>
					<h2>create</h2>
					<label for=''>image</label><br />
					<input type='file' name='image' /><br />
					<label for=''>name</label><br />
					<input type='text' name='name' /><br />
					<label for=''>dob</label><br />
					<input type='date' name='dob' /><br />
					<label for=''>address</label><br />
					<input type='text' name='address' /><br />
					<label for=''>username</label><br />
					<input type='text' name='username' /><br />
					<label for=''>password</label><br />
					<input type='text' name='password' /><br />
					<label for=''>star</label><br />
					<input type='number' name='star' /><br />
					<label for=''>tel</label><br />
					<input type='text' name='tel' /><br />
					<button type='submit'>Create</button>
				</form>
			</div>
			{{#each members}}
				<div class='member'>
					{{! show member }}
					<br />
					{{this}}
					<br />
					<button onclick='showForm(`{{this._id}}`)'>Edit</button>
					<form
						id='{{this._id}}'
						action='/admin/member/update/{{this._id}}'
						method='post'
						enctype='multipart/form-data'
						hidden
					>
						<h2>edit {{this.name}}</h2>
						<label for=''>image</label><br />
						<img src='{{this.image}}' alt='' />
						<input type='file' name='image' /><br />
						<label for=''>name</label><br />
						<input
							type='text'
							name='name'
							value='{{this.name}}'
						/><br />
						<label for=''>dob</label><br />
						<input type='date' name='dob' value='{{this.dob}}' /><br
						/>
						<label for=''>address</label><br />
						<input
							type='text'
							name='address'
							value='{{this.address}}'
						/><br />
						<label for=''>username</label><br />
						<input
							type='text'
							name='username'
							value='{{this.username}}'
						/><br />
						<label for=''>password</label><br />
						<input
							type='text'
							name='password'
							value='{{this.password}}'
						/><br />
						<label for=''>star</label><br />
						<input
							type='number'
							name='star'
							value='{{this.star}}'
						/><br />
						<label for=''>tel</label><br />
						<input type='text' name='tel' value='{{this.tel}}' /><br
						/>
						<button type='submit'>update</button>
					</form>
					<button
						onclick='deleteMember(`{{this._id}}`)'
					>Delete</button>
				</div>
			{{/each}}
		</div>
		<div class='guestTab'>
			<h2>Guest</h2>
			{{#each guests}}
				<div class='guest'>
					{{! show guest }}
					<br />
					{{this}}
					<br />
					<button
						onclick='deleteGuest(`{{this._id}}`)'
					>Delete</button>
				</div>
			{{/each}}
		</div>
		<div class='adminTab'>
			<h2>Admin</h2>
			<div class='addAdmin'>
				<button onclick='showForm(`AddNewAdmin`)'>Add new admin</button>
				<form
					action='/admin/admin/create'
					id='AddNewAdmin'
					method='post'
					hidden
				>
					<h2>create</h2>
					<label for=''>username</label><br />
					<input type='text' name='username' required /><br />
					<label for=''>password</label><br />
					<input type='text' name='password' required /><br />
					<button type='submit'>Create</button>
				</form>
			</div>
			{{#each admins}}
				<div class='admin'>
					{{! show admin }}
					<br />
					{{this}}
					<br />
					<button onclick='showForm(`{{this._id}}`)'>Edit</button>
					<form
						id='{{this._id}}'
						action='/admin/admin/update/{{this._id}}'
						method='post'
						hidden
					>
						<h2>edit {{this.username}}</h2>
						<label for=''>username</label><br />
						<input
							type='text'
							name='username'
							value='{{this.username}}'
							required
						/><br />
						<label for=''>password</label><br />
						<input
							type='text'
							name='password'
							value='{{this.password}}'
							required
						/><br />
						<button type='submit'>update</button>
					</form>
					<button
						onclick='deleteAdmin(`{{this._id}}`)'
					>Delete</button>
				</div>
			{{/each}}
		</div>
		<script src='/js/function.js'></script>
		<a href='/admin/logout'>Logout</a>
	</body>
</html>