{{username}}
<br />
{{msg}}
<br />
<h2>Create new admin</h2>
<form method='post'>
	<label for=''>admin</label><br />
	<input type='text' name='username' /><br />
	<label for=''>password</label><br />
	<input type='text' name='password' /><br />
	<label for=''>re-passwor</label><br />
	<input type='text' name='rePassword' /><br />
	<button type='submit'>Create</button>
</form>
<script src='/js/function.js'></script>
<a href='/admin/logout'>Logout</a>

<div>
	<h4>Product: {{products}}</h4>
</div>
<div>
	<h4>Member: {{members}}</h4>
</div>
<div>
	<h4>Guest: {{guests}}</h4>
</div>
<div>
	<h4>Bills: {{bills}}</h4>
</div>
<div>
	<h4>Admin: {{admins}}</h4>
</div>